<!-- StAuth10065: I Prerak Patel, 000825410 certify that this material is my original work. No other person's work has been used without due acknowledgement. I have not made my work available to anyone else. -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Lab6</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        table,
        thead,
        tr,
        tbody,
        th,
        .table td,
        td {
            text-align: center;
        }
        
        #headerButtons {
            margin-bottom: 15px;
        }
        
        .error {
            color: red;
            font-size: 15px;
        }
        
        .right {
            text-align: right;
        }
        
        .center {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container" id="root">
        <div class="jumbotron">
            <h1 class="display-4">Grade App with Vue.js</h1>
            <p class="lead">Uses a component-based front-end framework to create a web application</p>
            <hr class="my-4">
            <p>The focus of the application is list of grades, with each grade having an associated course name.</p>
        </div>

        <div class="row" id="headerButtons">
            <div class="col">
                <button type="button" :class="[isHonorActive ? 'btn btn-success' : 'btn btn-danger']" @click="toggleHonor">Honor Grades</button>

                <button type="button" :class="[isFailActive ? 'btn btn-success' : 'btn btn-danger']" @click="toggleFail" style="margin-left: 10px;">Fail Grades</button>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                            </svg>
                        </span>
                    </div>
                    <input type="text" class="form-control" v-model="searchString" v-on:input="searchFilter" aria-label="Sizing example input" placeholder="Search by Course Name" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
            <div class="col right">
                <button type="button" class="btn btn-primary" @click="addGrade">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bookmark-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 0a2 2 0 0 0-2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4zm4.5 4.5a.5.5 0 0 0-1 0V6H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V7H10a.5.5 0 0 0 0-1H8.5V4.5z"/>
                      </svg>
                    Add Grade
                </button>
            </div>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Courses
                        <a @click="sortCourseAsc" v-if="courseAsc">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                            </svg>
                        </a>
                        <a @click="sortCourseDesc" v-if="courseDesc">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                            </svg>
                        </a>
                    </th>
                    <th scope="col">Grade
                        <a @click="sortGradeAsc" v-if="gradeAsc">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                            </svg>
                        </a>
                        <a @click="sortGradeDesc" v-if="gradeDesc">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                            </svg>
                        </a>
                    </th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(course, index) in coursesGrade">

                    <th scope="row">{{ course.id + 1}}</th>
                    <td>{{ course.course_name }}</td>
                    <td>{{ course.course_grade }}</td>
                    <td>
                        <button type="button" class="btn btn-outline-primary" @click="editCourse(course.id, course.course_name, course.course_grade)">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>
                        </button>
                        <button type="button" class="btn btn-outline-danger" @click="deleteCourse(index)">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                            </svg>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row" id="footerText">
            <div class="col">
                <label>Minimum Value: {{ minimum }}</label>
            </div>
            <div class="col center">
                <label>Average Value: {{ average }}</label>
            </div>
            <div class="col right">
                <label>Maximum Value: {{ maximum }}</label>
            </div>
        </div>


        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add a Grade</h5>
                        <button type="button" class="close" data-dismiss="modal" @click="closeDialog" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <div class="error" v-if="check_course">* Course Name is required field</div>
                                <div class="error" v-if="check_duplicate_course">* Course Name already exists</div>
                                <label for="recipient-name" class="col-form-label">Course Name:</label>
                                <input type="text" class="form-control" id="recipient-name" v-model="enter_course">
                            </div>
                            <div class="form-group">
                                <div class="error" v-if="check_grade">* Grades is required field</div>
                                <div class="error" v-if="check_grade_value">* Grades should be between 0 to 100</div>
                                <label for="message-text" class="col-form-label">Grades:</label>
                                <!-- <textarea class="form-control" id="message-text"></textarea> -->

                                <input type="number" class="form-control" id="grade" maxlength="100" minlength=1 v-model="enter_grade">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" v-if="modalAction" @click='saveCourse'>Save Changes</button>
                        <button type="button" class="btn btn-primary" v-else @click='updateCourse'>Update Changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="closeDialog">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>

<script>
    new Vue({
        el: '#root',
        data: {
            isHonorActive: false,
            isFailActive: false,
            check_course: false,
            check_grade: false,
            check_duplicate_course: false,
            check_grade_value: false,
            searchString: '',
            enter_course: '',
            enter_grade: '',
            id: '',
            coursesGrade: [],
            copy_coursesGrade: [],
            copy_search_coursesGrade: [],
            cumulative_honor_fail: [],
            original_coursesGrade: [],
            modalAction: true,
            courseAsc: true,
            courseDesc: false,
            gradeAsc: true,
            gradeDesc: false,
        },
        methods: {
            addGrade() {
                $('#exampleModal').modal('toggle');
                this.modalAction = true;
            },
            saveCourse() {
                this.check_course = this.enter_course != '' ? false : true;
                this.check_grade = this.enter_grade != '' ? false : true;


                if (!this.check_course) {
                    for (i = 0; i < this.original_coursesGrade.length; i++) {
                        if (this.original_coursesGrade[i].course_name.toLowerCase() == this.enter_course.toLowerCase()) {
                            this.check_duplicate_course = true;
                            break;
                        } else {
                            this.check_duplicate_course = false;
                        }
                    }
                }

                if (!this.check_grade) {
                    if (this.enter_grade < 0 || this.enter_grade > 100) {
                        this.check_grade_value = true;
                    } else {
                        this.check_grade_value = false;
                    }
                }

                if (!this.check_course && !this.check_grade && !this.check_duplicate_course && !this.check_grade_value) {
                    this.original_coursesGrade.push({
                        id: this.original_coursesGrade.length,
                        course_name: this.enter_course,
                        course_grade: this.enter_grade
                    });
                    this.coursesGrade = this.original_coursesGrade;
                    this.closeDialog();
                }
            },
            closeDialog() {
                this.check_course = false;
                this.enter_course = '';
                this.check_grade = false;
                this.enter_grade = '';
                this.check_duplicate_course = false;
                this.check_grade_value = false;
                this.isHonorActive = false;
                this.isFailActive = false;
                this.searchString = '';
                this.coursesGrade = this.original_coursesGrade;
                this.copy_search_coursesGrade = this.coursesGrade;
                $('#exampleModal').modal('toggle');
            },
            editCourse(id, course, grade) {
                console.log(id);
                this.enter_course = course;
                this.enter_grade = grade;
                this.id = id;
                this.modalAction = false;
                $('#exampleModal').modal('toggle');
            },
            updateCourse() {
                this.check_course = this.enter_course != '' ? false : true;
                this.check_grade = this.enter_grade != '' ? false : true;

                if (!this.check_course) {

                    for (i = 0; i < this.original_coursesGrade.length; i++) {
                        if (this.original_coursesGrade[i].course_name.toLowerCase() == this.enter_course.toLowerCase()) {
                            if (this.original_coursesGrade[i].id != this.id) {
                                this.check_duplicate_course = true;
                                break;
                            } else {
                                this.check_duplicate_course = false;
                            }
                        } else {
                            this.check_duplicate_course = false;
                        }
                    }
                }

                if (!this.check_grade) {
                    if (this.enter_grade < 0 || this.enter_grade > 100) {
                        this.check_grade_value = true;
                    } else {
                        this.check_grade_value = false;
                    }
                }

                if (!this.check_course && !this.check_grade && !this.check_duplicate_course && !this.check_grade_value) {
                    for (i = 0; i < this.original_coursesGrade.length; i++) {
                        if (this.original_coursesGrade[i].id == this.id) {
                            this.original_coursesGrade[i].course_name = this.enter_course;
                            this.original_coursesGrade[i].course_grade = this.enter_grade;
                        }
                    }
                    this.coursesGrade = this.original_coursesGrade;
                    this.closeDialog();
                }
            },
            deleteCourse(id) {
                this.coursesGrade.splice(id, 1);
                for (var i = 0; i < this.coursesGrade.length; i++) {
                    this.coursesGrade[i].id = i;
                }

            },
            toggleHonor() {
                if (!this.isHonorActive) {
                    if (!this.isFailActive) {
                        this.copy_coursesGrade = this.coursesGrade;
                        this.copy_search_coursesGrade = this.coursesGrade;
                    } else {
                        this.cumulative_honor_fail = this.coursesGrade;
                    }
                    this.coursesGrade = this.coursesGrade.filter(function(eachCourse) {
                        return eachCourse.course_grade >= 80;
                    });
                    this.copy_search_coursesGrade = this.coursesGrade;
                    this.isHonorActive = true;
                } else {
                    if (!this.isFailActive) {
                        this.coursesGrade = this.copy_coursesGrade;
                        this.copy_search_coursesGrade = this.coursesGrade;
                    } else {
                        this.coursesGrade = this.cumulative_honor_fail;
                        this.copy_search_coursesGrade = this.coursesGrade;
                    }
                    this.isHonorActive = false;
                }
                if (this.searchString == '' && !this.isHonorActive && !this.isFailActive) {
                    this.coursesGrade = this.original_coursesGrade;
                    this.copy_search_coursesGrade = this.coursesGrade;
                }
            },
            toggleFail() {
                if (!this.isFailActive) {
                    if (!this.isHonorActive) {
                        this.copy_coursesGrade = this.coursesGrade;
                        this.copy_search_coursesGrade = this.coursesGrade;
                    } else {
                        this.cumulative_honor_fail = this.coursesGrade;
                    }
                    this.coursesGrade = this.coursesGrade.filter(function(eachCourse) {
                        return eachCourse.course_grade < 50;
                    });
                    this.copy_search_coursesGrade = this.coursesGrade;
                    this.isFailActive = true;
                } else {
                    if (!this.isHonorActive) {
                        this.coursesGrade = this.copy_coursesGrade;
                        this.copy_search_coursesGrade = this.coursesGrade;
                    } else {
                        this.coursesGrade = this.cumulative_honor_fail;
                        this.copy_search_coursesGrade = this.coursesGrade;
                    }
                    this.isFailActive = false;
                }
                if (this.searchString == '' && !this.isHonorActive && !this.isFailActive) {
                    this.coursesGrade = this.original_coursesGrade;
                    this.copy_search_coursesGrade = this.coursesGrade;
                }
            },
            sortCourseAsc() {
                this.courseAsc = false;
                this.courseDesc = true;
                this.coursesGrade.sort((a, b) => (a.course_name > b.course_name ? 1 : -1));
                this.copy_search_coursesGrade = this.coursesGrade;
            },
            sortCourseDesc() {
                this.courseAsc = true;
                this.courseDesc = false;
                this.coursesGrade.sort((a, b) => (a.course_name < b.course_name ? 1 : -1));
                this.copy_search_coursesGrade = this.coursesGrade;
            },
            sortGradeAsc() {
                this.gradeAsc = false;
                this.gradeDesc = true;
                this.coursesGrade.sort((a, b) => (parseFloat(a.course_grade) > parseFloat(b.course_grade) ? 1 : -1));
                this.copy_search_coursesGrade = this.coursesGrade;
            },
            sortGradeDesc() {
                this.gradeAsc = true;
                this.gradeDesc = false;
                this.coursesGrade.sort((a, b) => (parseFloat(b.course_grade) > parseFloat(a.course_grade) ? 1 : -1));
                this.copy_search_coursesGrade = this.coursesGrade;
            },
            searchFilter() {
                let reference = this;
                this.coursesGrade = this.copy_search_coursesGrade.filter(function(eachCourse) {
                    return eachCourse.course_name.toLowerCase().includes(reference.searchString.toLowerCase());
                });
                if (this.searchString == '') {
                    this.coursesGrade = this.copy_search_coursesGrade;
                }
                if (this.searchString == '' && !this.isHonorActive && !this.isFailActive) {
                    this.coursesGrade = this.original_coursesGrade;
                    this.copy_search_coursesGrade = this.coursesGrade;
                }
            },
        },
        computed: {
            minimum() {
                let minimum_coursesGrade = [];
                for (i = 0; i < this.coursesGrade.length; i++) {
                    minimum_coursesGrade[i] = this.coursesGrade[i];
                }

                if (minimum_coursesGrade.length > 0) {
                    minimum_coursesGrade.sort((a, b) => (parseFloat(a.course_grade) > parseFloat(b.course_grade) ? 1 : -1));
                    return minimum_coursesGrade[0].course_grade;
                } else {
                    return 0;
                }
            },
            average() {
                let average_coursesGrade = this.coursesGrade;
                if (average_coursesGrade.length > 0) {
                    let averageTotal = 0;
                    for (i = 0; i < average_coursesGrade.length; i++) {
                        averageTotal += parseFloat(average_coursesGrade[i].course_grade);
                    }
                    return Math.round(averageTotal / average_coursesGrade.length);
                } else {
                    return 0;
                }
            },
            maximum() {
                let maximum_coursesGrade = [];
                for (i = 0; i < this.coursesGrade.length; i++) {
                    maximum_coursesGrade[i] = this.coursesGrade[i];
                }
                if (maximum_coursesGrade.length > 0) {
                    maximum_coursesGrade.sort((a, b) => (parseFloat(a.course_grade) < parseFloat(b.course_grade) ? 1 : -1));
                    return maximum_coursesGrade[0].course_grade;
                } else {
                    return 0;
                }
            },
        },
    });
    $('#exampleModal').modal({
        backdrop: 'static',
        keyboard: false
    });
    $('#exampleModal ').on('show.bs.modal ', function(event) {
        var button = $(event.relatedTarget)
        var recipient = button.data('whatever ')
        var modal = $(this)
        modal.find('.modal-title ').text('Add a Grade ')
        modal.find('.modal-body input ').val(recipient)
    });
</script>